body {
    background-color: #222; /* темно-сірий фон */
    margin: 0;
    overflow: hidden;
}

svg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

polygon {
    fill: gold;
    stroke: white;
    stroke-width: 2;
    filter: drop-shadow(0 0 15px gold);
    transform-origin: center center;
    transition: transform 1s ease-in-out;
}
